//- layout.jade
doctype html
html(ng-app="netStatsApp")
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
    title #{title}
    style(type="text/css") [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak { display: none !important; }.opacity{opacity:0;height:0!important;padding:0!important;display:none!important}
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Sunflower:300,500,700')
    link(rel='stylesheet', href='/css/netstats.min.css')
    script(src="//localhost:35729/livereload.js")
  body
    block content

    script(src="/js/netstats.min.js")
