@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Sunflower:300,500,700');

html {
	width: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
	width: 100%;
	background: #ffffff;
	font-smooth: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

table td {
	font-size: 14px;
	white-space: nowrap !important;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: auto;
}

.propagationBox {
	position: relative;
	width: 8px;
	height: 8px;
	float: left;
	top: 5px;
	margin-right: 5px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

.bg-success,
.text-success .propagationBox {
	background: #7bcc3a;
}

.bg-info,
.text-info .propagationBox {
	background: #10a0de;
}

.bg-warning,
.text-warning .propagationBox {
	background: #FFD162;
}

.bg-orange,
.text-orange .propagationBox {
	background: #ff8a00;
}

.bg-danger,
.text-danger .propagationBox {
	background: #F74B4B;
}

.text-gray .propagationBox {
	background: none !important;
	border: 1px solid #777;
}

.bg-success,
.bg-info,
.bg-warning,
.bg-orange,
.bg-danger {
	color: #000;
}

.text-gray {
	color: #777 !important;
}

.text-orange {
	color: #ff8a00;
}

.container-fluid {
	padding-left: 30px;
	padding-right: 30px;
}

.stat-holder {
	background: #ffffff;
	border: 1px solid rgba(255,255,255,0.05);
}

.big-info {
	padding-top: 15px;
	padding-bottom: 15px;
}

.big-info .icon-full-width i {
	display: block;
	width: 85px;
	height: 70px;
	font-size: 70px;
	line-height: 70px;
	margin-right: 15px;
	margin-left: -15px;
}

.big-info span.small-title,
.big-info div.small-title-miner {
	display: block;
}

span.small-title,
div.small-title-miner {
	font-weight: 700;
	font-size: 12px;
	line-height: 10px;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	color: #aaa;
}

span.small-title span.small {
	font-size: 11px;
	font-weight: 600;
	line-height: 16px;
	letter-spacing: 0px;
	color: #666;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: auto;
}

.big-info .big-details {
	display: block;
	font-weight: 200;
	font-size: 36px;
	line-height: 48px;
	letter-spacing: 0px;
	word-spacing: nowrap !important;
}

.big-info .big-details .small-hash {
	font-size: 87%;
}

.big-info .big-details-holder {
	position: absolute;
	top: 15px;
	left: 99px;
}

.big-info.chart {
	padding-top: 12px;
}

.big-info.chart .big-details {
	display: table;
	top: 40px;
	margin: 0 auto;
}

.big-info.chart {
	height: 120px;
	-webkit-box-sizing: border-box
	box-sizing: border-box;
}

.big-info.chart.double-chart {
	height: 242px;
}

.blocks-holder {
	width: 288px;
	padding-top: 6px;
	margin-left: -2px;
	display: table;
	margin: 0 auto;
}

.blocks-holder {
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: auto;
}

.blocks-holder div.small-title-miner {
	font-family: "Lucida Console", "Courier New", Courier, monospace;
	font-size: 11px;
	letter-spacing: -0.1px;
	text-transform: none;
	white-space: nowrap;
	color: #777;
}

.blocks-holder .block-count {
	font-family: 'Lucida Console', "Courier New", Courier, monospace;
	font-weight: bold;
	font-size: 10px;
	padding-top: 3px;
	float: right;
}

.blocks-holder .block {
	width: 6px;
	height: 6px;
	margin: 2px 1px 6px 0px;
	float: left;
	-webkit-border-radius: 1px;
	border-radius: 1px;
	opacity: .8;
}

.blocks-holder .block:first-child {
	margin-left: 0px;
}

.blocks-holder .block:last-child {
	margin-right: 0px;
}

.second-row .box {
	height: 40px;
	line-height: 24px !important;
	padding: 5px 15px;
}

.second-row .box i,
.big-info.chart i {
	position: relative;
	top: 2px;
	left: -3px;
	font-size: 24px;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: auto;
	margin-right: 7px;
	float: left;
}

.big-info.chart i {
	font-size: 24px;
	top: -2px;
}

.small-value {
	font-weight: 300;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: auto;
	float: right;
}

.second-row .box .small-value {
	float: right;
}
.big-info .small-value {
	position: absolute;
	right: 14px;
	top: 10px;
}

table i {
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: auto;
}

table th,
table td {
	border-color: #222 !important;
}

table td {
	line-height: 18px !important;
}

table th {
	color: #888;
}

table th i {
	line-height: 1em;
	font-size: 20px;
}
table td i {
	position: relative;
	top: 2px;
	left: 2px;
}
table td.peerPropagationChart {
	padding: 4px 5px !important;
}
nodepropagchart {
	display: inline-block;
	width: 107px;
	height: 20px;
	vertical-align: top;
}

.table>tbody>tr>td,
.table>thead>tr>th {
	padding: 5px;
}

.th-nodecheck,
.td-nodecheck {
	width: 38px;
	text-align: center;
}

.td-nodecheck i {
	left: 0px;
}

.th-nodename {
	width: 300px;
	text-overflow: ellipsis;
}

.th-nodetype {
	width: 220px;
}

.th-latency {
	width: 100px;
}

.th-blockhash {
	width: 150px;
}

.th-blocktime {
	width: 110px;
}

.th-peerPropagationTime {
	width: 120px;
}

.th-peerPropagationChart {
	width: 140px;
}

.nodeInfo .tooltip .tooltip-inner {
	max-width: 400px;
	text-align: left;
	font-size: 12px;
}

.map-holder {
	padding: 0;
}

#mapHolder {
	position: relative;
	display: block;
	width: 100%;
	height: 242px;
	overflow: hidden;
}

#mapHolder > svg {
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
}

.jqsfield {
	position: relative;
	padding: 5px 0;
	width: auto;
	left: -50%;
	word-wrap: wrap;
	text-align: center;
}

.d3-tip {
	padding: 5px 0;
}

.jqsfield .tooltip-arrow {
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -5px;
	border-width: 5px 5px 0;
	border-top-color: #fff;
}

.datamaps-hoverover .tooltip-arrow,
.d3-tip .tooltip-arrow {
	position: absolute;
	top: -5px;
	left: 0px;
	margin-left: -5px;
	border-width: 0px 5px 5px 5px;
	border-bottom-color: #fff;
}

.d3-tip .tooltip-arrow {
	top: 0px;
	left: 50%;
}

.hoverinfo {
	position: relative;
	width: auto;
	left: -50%;
	text-align: center;
	color: #333;
	border: none !important;
	box-shadow: none !important;
	border-radius: 3px !important;
	padding: 5px !important;
	line-height: 14px !important;
}

.hoverinfo .propagationBox {
	top: 3px;
}

svg {
	overflow: visible !important;
}

svg .bars .bar {
	opacity: 1;
	shape-rendering: auto;
}

svg .bars .handle {
	opacity: 0;
}

svg .bars .highlight {
	opacity: 0;
}

svg .bars g:hover .highlight {
	opacity: 1;
}

svg .line {
	fill: none;
	stroke: #ff0000;
	stroke-width: 1.3px;
	stroke-linejoin: round;
	stroke-linecap: round;
	shape-rendering: geometric-precision;
	/*-webkit-svg-shadow: 0 0 7px #fff;*/
}

svg .bar text {
	text-anchor: end;
	font-size: 12px;
}

svg .axis path,
svg .axis line {
	fill: none;
	stroke: rgba(255,255,255,0.15);
	shape-rendering: crispEdges;
}
svg .axis text {
	fill: #777;
	font-size: 10px;
	letter-spacing: 0px;
	font-family: "Source Sans Pro";
	font-weight: 700;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: auto;
}

svg .y.axis .tick:first-child text {
	opacity: 0;
}

@media (max-width: 768px) {
	.container-fluid {
		padding-left: 5px;
		padding-right: 5px;
	}

	.big-info .icon-full-width i {
		width: 75px;
		height: 67px;
		font-size: 67px;
		margin-left: -25px;
	}

	.big-info .big-details-holder {
		left: 75px;
	}

	.big-info .big-details {
		font-size: 35px;
	}

	.blocks-holder div.small-title-miner {
		font-family: inherit;
		font-size: 11px;
		letter-spacing: -.5px;
	}

	.blocks-holder {
		width: 100%;
	}

	.big-info.chart i, .second-row .box i {
		font-size: 18px;
		margin-right: 0px;
	}

	.second-row .box {
		height: 100%; /* BUG XXX */
	}
}


@media (max-width: 600px) {
	.blocks-holder div.small-title-miner {
		font-size: 10px;
	}
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 1em;
}
@media only screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media only screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1140px;
  }
}
.no-padding {
  padding: 0;
}
.no-margin {
  margin: 0;
}

.Header {
  background: #fff;
  padding: 0.5em 1em;
	margin-bottom: 2em;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 2;
  -webkit-box-shadow: 0 0 14px 0 rgba(198,202,206,0.3);
  box-shadow: 0 0 14px 0 rgba(198,202,206,0.3);
}
@media only screen and (min-width: 768px) {
  .Header {
    padding: 1em;
  }
}
.Header-content {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -o-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 0;
}

.Header-content::before, .Header-content::after {
	display: none;
}
@media only screen and (min-width: 992px) {
  .Header-figure {
    width: 150px;
  }
}
@media only screen and (min-width: 992px) {
  .Header-figure img {
    width: 150px;
  }
}
@media only screen and (min-width: 768px) {
  .Header-logo-mobile {
    display: none;
  }
}
.Header-logo-desktop {
  display: none;
}
@media only screen and (min-width: 768px) {
  .Header-logo-desktop {
    display: block;
  }
}
@media only screen and (min-width: 992px) {
  .Header-menu-mobile {
    display: none;
  }
}
.Header-menu-mobile-icon {
  color: #34c88a;
  font-size: 2em;
}
.Header-menu-mobile-content {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 1em;
  background-color: rgba(255,255,255,0.56);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-animation: fadeInFromNone 150ms ease-out;
  -moz-animation: fadeInFromNone 150ms ease-out;
  -o-animation: fadeInFromNone 150ms ease-out;
  -ms-animation: fadeInFromNone 150ms ease-out;
  animation: fadeInFromNone 150ms ease-out;
}
@media only screen and (min-width: 992px) {
  .Header-menu-mobile-content {
    display: none;
  }
}
.Header-menu-mobile-content-square {
  border-radius: 8px;
  background-color: #f2f6f6;
  padding: 30px;
}
.Header-menu-mobile-content-top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.Header-menu-mobile-content-top .Header-menu-mobile {
  justify-self: flex-end;
}
.Header-menu-mobile-content-middle {
  padding: 0;
  margin: 0;
  list-style: none;
}
.Header-menu-mobile-content-middle .Header-menu-content-target {
  width: 100%;
  padding: 0.5em;
  display: block;
  font-size: 18px;
  line-height: 1.05;
  font-weight: 300;
}
.Header-menu-mobile-content-bottom {
  margin-top: 40px;
  text-align: center;
}
.Header-menu-mobile-content-bottom-copy {
  font-size: 12px;
  line-height: 1.41;
  color: #868d95;
  font-weight: 200;
}
.Header-menu-content {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
}
@media only screen and (min-width: 992px) {
  .Header-menu-content {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: box;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -o-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
}
.Header-menu-content-target {
  line-height: 1.05;
  color: #868d95;
  text-decoration: none;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  transition: all 250ms ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 1em 5px;
  font-size: 15px;
}
@media only screen and (min-width: 992px) {
  .Header-menu-content-target {
    padding: 1em 13px;
  }
}
.Header-menu-content-target:hover {
  color: #34c88a;
  cursor: pointer;
}
.noScroll {
  overflow: hidden !important;
  height: 100%;
  width: 100%;
  position: fixed;
}
@media only screen and (min-width: 992px) {
  .noScroll {
    overflow: scroll !important;
    position: relative;
  }
}
@-moz-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  1% {
    display: block;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  100% {
    display: block;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-webkit-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  1% {
    display: block;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  100% {
    display: block;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-o-keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  1% {
    display: block;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  100% {
    display: block;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  1% {
    display: block;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  100% {
    display: block;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
.Footer {
	margin-top: 2em;
}

.Footer-figure {
  display: none;
}
@media only screen and (min-width: 992px) {
  .Footer-figure {
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-align-self: flex-start;
    align-self: flex-start;
    -ms-flex-item-align: start;
  }
}
.Footer-top {
  padding: 20px;
  display: grid;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  grid-template-columns: 1fr;
  grid-gap: 15px;
}
.Footer-top::after, .Footer-top::before {
	display: none;
}
@media only screen and (min-width: 576px) {
  .Footer-top {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 768px) {
  .Footer-top {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (min-width: 992px) {
  .Footer-top {
    padding: 40px 0;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
.Footer-top-list {
  display: grid;
  grid-gap: 1em;
  -webkit-align-self: flex-start;
  align-self: flex-start;
  -ms-flex-item-align: start;
}
.Footer-top-list-title {
  font-weight: bold;
  line-height: 1.05;
  color: #163f59;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.Footer-top-list-element {
  color: #868d95;
  text-decoration: none;
  -webkit-transition: all 150ms ease;
  -moz-transition: all 150ms ease;
  -o-transition: all 150ms ease;
  -ms-transition: all 150ms ease;
  transition: all 150ms ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.Footer-top-list-element:hover {
  color: #34c88a;
  cursor: pointer;
}
.Footer-bottom {
  display: none;
}
@media only screen and (min-width: 992px) {
  .Footer-bottom {
    background-color: #fff;
    padding: 40px 0;
    display: block;
  }
}
.Footer-bottom-content {
  display: grid;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.Footer-bottom-content::before, .Footer-bottom-content::after {
	display: none;
}
@media only screen and (min-width: 992px) {
  .Footer-bottom-content {
    grid-template-columns: 5fr 1fr 6fr;
  }
}
.Footer-bottom-content-element {
  line-height: 1.05;
  color: #868d95;
  text-decoration: none;
  -webkit-transition: all 150ms ease;
  -moz-transition: all 150ms ease;
  -o-transition: all 150ms ease;
  -ms-transition: all 150ms ease;
  transition: all 150ms ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 1em 5px;
  font-size: 14px;
}
@media only screen and (min-width: 992px) {
  .Footer-bottom-content-element {
    padding: 1em 13px;
  }
}
.Footer-bottom-content-element:hover {
  color: #34c88a;
  cursor: pointer;
}
.Footer-bottom-content-links {
  justify-self: flex-end;
}
.Footer-bottom-content-copy {
  line-height: 1.05;
  color: #868d95;
  padding: 1em 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 14px;
}
@media only screen and (min-width: 992px) {
  .Footer-bottom-content-copy {
    padding: 1em 13px;
  }
}
.Footer-bottom-content-copy:hover {
  cursor: default;
}
